.devcard-panel {
  border: 1px solid #453c2a;
  background: #f9f7ef;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 7px;
}
.devcard-hand {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}
.devcard {
  background: #dfd7c1;
  border: 1px solid #b19a70;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  min-width: 90px;
  box-shadow: 1px 1px 3px #0001;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.devcard-label {
  font-weight: bold;
}
.devcard-count {
  background: #8e7950;
  color: #fff;
  border-radius: 8px;
  font-size: 0.8em;
  margin-left: 6px;
  padding: 0 7px;
}
.play-btn {
  margin-top: 0.3em;
  background: #5b8a16;
  color: #fff;
  padding: 0.20em 0.6em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.play-btn:disabled {
  opacity: 0.6;
}
.devcard-vp {
  margin-left: 10px;
  font-weight: bold;
  color: #b38413;
}
.buy-btn {
  margin-top: 0.8em;
  background: #2461af;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  padding: 0.30em 1.2em; 
  cursor: pointer;
}
.buy-btn:disabled {
  opacity: 0.4;
}
.devcard-notification {
  margin-top: 0.5em;
  color: #177917;
  background: #c8f7c5;
  padding: 0.2em 0.8em;
  border-radius: 3px;
}
.devcard-error {
  color: #a32a2a;
  margin-top: 0.5em;
}
.modal {
  position: fixed;
  z-index: 99;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  background: #e7dbce;
  border: 2px solid #756138;
  border-radius: 9px;
  padding: 2em 2em 1em 2em;
  box-shadow: 0 8px 32px #0002;
}
.monopoly-modal h3,
.yearmodal h3 {
  margin-bottom: 1.1em;
}
.monopoly-pick, .year-pick {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}
.year-selected {
  margin-bottom: 0.7em;
  color: #473600;
  font-weight: 600;
}
.yearmodal button {
  margin-right: 0.8em;
  margin-bottom: 0.2em;
}